.bg {
   width: 100%;
   height: 200px;
}

.descriptionBlock {
   padding: 10px;
}

.profileDescription {
   color: rgb(3, 4, 61);
   font-weight: bold;
}

.mainPhoto {
   max-width: 250px;
   max-height: 250px;
}
.status {
   margin-bottom: 10px;
}

.statusInput {
   background-color: rgb(4, 86, 153);
   border: none;
   outline: none !important;
   color: white;
}
