.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
   
}

.dialogsItems {
   padding: 10px;
}
a.active {
   color: rgb(190, 31, 31);
}

.messages {
   padding: 10px;
}

.message {
   color: rgb(0, 0, 0);
   text-decoration: none;
}

